/* Resets, Color Scheme */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

:root {
  --bg-dark: #0a0a0b;
  --bg-medium: #2e3038;
  --text-dim: #9c9c93;
  --accent: #fbe850;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-dark);
  font: #fff;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
